body
{
  font-family: 'David Libre', serif;
}
p
{
  text-align: justify;
  font-size: large;
}
p.explanation
{
  background-color: lightgray;
  border: 1px solid gray;
}
tr.total
{
  border-top: double;
}

div.raavad
{
  margin-right: 1rem;
  border: solid darkgrey;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}